<div class="login">
    <form action="/" method="POST">
        <div class="form-line">
            <label>اسم المستخدم:</label>
            <input type="text" id="userName" name="userName" placeholder="ادخل اسم المستخدم" required/>
        </div>
        <div class="form-line">
            <label>كلمة السر:</label>
            <input type="passWord" id="passWord" name="passWord" placeholder="ادخل كلمة السر" required/>
        </div>
        <div class="form-line">
            <button type="submit" id="submitlogin" >تسجيل الدخول</button>
            
        </div>
    </form>
    <p id='message' style='color:red; font-size:13px; text-align:center'></p>
</div>
